**/*.iml
**/pom.xml.versionsBackup
**/rebel.xml
dependency-reduced-pom.xml
target
.idea
.settings
.classpath
.project
*~
server/conf/config.yml
log
.factorypath
server/conf/wout.yml
log
.factorypath
*.versionsBackup
tmp/
.DS_Store